GITHUB_OWNER=oppia
GITHUB_REPO=oppia
GITHUB_TOKEN=

OPPIA_ROADMAP_SHEET_ID=1nLZzxt6kPshgW2bplK-O1FTG19H-imL9DaQl25m11J4
OPPIA_ROADMAP_GID=771905050
OPPIA_ROADMAP_CSV_URL=https://docs.google.com/spreadsheets/d/1nLZzxt6kPshgW2bplK-O1FTG19H-imL9DaQl25m11J4/export?format=csv&gid=771905050

OPPIA_TEAM_SHEET_ID=1nLZzxt6kPshgW2bplK-O1FTG19H-imL9DaQl25m11J4
OPPIA_TEAM_GID=1343008932
OPPIA_TEAM_CSV_URL=https://docs.google.com/spreadsheets/d/1nLZzxt6kPshgW2bplK-O1FTG19H-imL9DaQl25m11J4/export?format=csv&gid=1343008932

BACKEND_PORT=8000
FRONTEND_PORT=5173
